Repository sensu-plugins/sensu-plugins-aws, pull requests merged in 2018-11, with the labels that each got.

#298 Update check-redshift-events.rb to AWS SDK v2
  CHANGELOG.md
  bin/check-redshift-events.rb
Labels: Area: Check, Impact: Breaking Change, Status: Needs Testing Artifact, Type: Enhancement

#297 Update check-elb-sum-requests.rb to AWS SDK v2
  CHANGELOG.md
  bin/check-elb-sum-requests.rb
Labels: Area: Check, Impact: Breaking Change, Type: Enhancement

#296 Update check-elb-latency.rb to AWS SDK v2
  CHANGELOG.md
  bin/check-elb-latency.rb
Labels: Area: Check, Impact: Breaking Change, Type: Enhancement

#308 removing `aws-sdk-v1` from the gemspec
  CHANGELOG.md
  sensu-plugins-aws.gemspec
Labels: Impact: Breaking Change, Type: Enhancement
